* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif, sans, Arial;
}
p {
  margin-top: 14px;
  margin-bottom: 14px;
}
.box {
  width: 300px;
  margin: 50px auto;
  border: 4px solid grey;
  padding: 20px;
  text-align: left;
  color: #fff;
  font-family: arial;
  position: relative;
}

.box .sb-bottom-left {

}
.nonbox {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  color: #fff;
  font-family: arial;
  position: relative;
}


/* speech bubble 5 */

.sb-right-top:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}
.sb-right-top:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #000;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}


/* speech bubble 6 */

.sb-left-top:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.sb-left-top:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #000;
  border-top: 7px solid #000;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}
 
.sb-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid grey;
  border-right: 10px solid transparent;
  border-top: 10px solid grey;
  border-bottom: 10px solid transparent;
  left: 100px;
  bottom: -23px;
}

.sb-bottom-left:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #000;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  border-bottom: 10px solid transparent;
  left: 104px;
  bottom: -13px;
}

.sb-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid grey;
  border-top: 10px solid grey;
  border-bottom: 10px solid transparent;
  right: 100px;
  bottom: -23px;
}

.sb-bottom-right:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #000;
  border-top: 10px solid #000;
  border-bottom: 10px solid transparent;
  right: 104px;
  bottom: -13px;
}
.nudge-right {
  transform: translate(25px);
}
.nudge-left {
  transform: translate(-25px);
}

.no-interaction {
  color: gray;
  font-style: italic;
}
.t_astera {
  color: red;
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 16px;
}
.t_obella {
  color: blue;
  display: block;
  text-align: right;
  font-size: 16px;
  margin-top: 16px;
}

.img-astera {
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url('tiles_png/fdroidchars.png');
  width: 32px;
  height: 64px;
  scale: 4.0;
  margin-top: 64px;
  background-position: 0px -64px;
}

.img-obella {
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url('tiles_png/fdroidchars.png');
  width: 32px;
  height: 64px;
  scale: 4.0;
  margin-top: 64px;
  margin-left: auto;
  background-position: 0px 0px;
}

.img-infoboard {
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url('tiles_png/fdroidinfoboard.png');
  width: 64px;
  height: 64px;
  scale: 2.0;
  margin-top: 0px;
  margin-left: auto;
  background-position: 0px 0px;
}

.img-bouncer {
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url('tiles_png/bouncer.png');
  width: 32px;
  height: 32px;
  scale: 4.0;
  margin-top: 32px;
  margin-left: auto;
  background-position: 0px 0px;
}

.img-chest {
  overflow: hidden;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  background-image: url('tiles_png/cija_32x32_expansion for Pipoya_CC0.png');
  width: 32px;
  height: 32px;
  scale: 4.0;
  margin-top: 32px;
  margin-left: auto;
  background-position: -192px -3456px;
}
